<!-- topo do site!-->
<nav id="navbar" class="py-2 bg-light">
    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <div class="d-flex flex-row align-items-center">
                    <a routerLink="home">
                        <img id="logo" src="assets/img/logo.png" alt="logo do site">
                    </a>
                    <span class="text-uppercase lead px-1 border-end">
                        Marca
                    </span>
                    <span class="text-bold px-1 ">
                        Portal teste
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-row-reverse bd-highlight">

                    <!-- navbar -->
                    <ul class="nav">

                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-gear-fill" style="font-size: 20px"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/home">
                                <i class="bi bi-box-arrow-right" style="font-size: 20px"></i>
                            </a>
                        </li>

                    </ul>
                    <!-- fim navbar -->
                </div>
            </div>


        </div>
    </div>
</nav>